body {
  font-family: "Verdana", cursive, sans-serif;
  margin: auto;
  width: auto;
  max-width: 1200px;
}

.title {
  margin: auto;
}

li {
  display: inline;
  list-style: none;
  margin: 0 20px;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
  border-style: solid;
}

.text {
  vertical-align: top;
}

.wrapper-one {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
}

.elem-one {
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: auto;
  border-radius: 0.5rem;
}

.elem-two {
  grid-column-start: 3;
  grid-column-end: 5;
  overflow: auto;
  border-radius: 0.5rem;
}

.elem-three {
  grid-column-start: 5;
  grid-column-end: 7;
  overflow: auto;
  border-radius: 0.5rem;
}

.elem-four {
  grid-column-start: 1;
  grid-column-end: 7;
  overflow: auto;
  border-radius: 0.5rem;
}

p {
  margin: none;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.icon {
  width: 2rem;
}

.iframeContainer {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.iframeContainer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {

  .elem-one {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .elem-two {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .elem-three {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
  }

}
